<template>
  <div>
    <div class="pane">
      <table id="states">
        <tr v-for="(status, key) in status" :key="key">
          <td class="status-label">{{status.label}} :</td>
          <td class="status-state">{{status.state}}</td>
        </tr>
      </table>
    </div>
    <div class="pane">
      <div class="module">
        <span>Name of the session</span>
        <div class="module-bg">
          <div class="module-cursor" :style="{top: position+'%'}"></div>
        </div>
      </div>
      <div class="module">
        <span>[Connecter un Monomackie]</span>
        <div class="module-bg module-disabled">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "State.vue",
  data: () => ({
    status: {
      driverConnection: {label: "Connexion au driver", state: "KO"},
      deviceConnection: {label: "Connexion au périphérique", state: "Inconnu"},
      winAPI: {label: "Intéraction OS-Windows", state: "Ni"},
      modularity: {label: "Nombre de curseurs connectés", state: "Ni"},
      versionFront: {label: "Version de l'interface utilisateur", state: "Ni"},
      versionDriver: {label: "Version du driver", state: "Ni"},
      versionFirmware: {label: "Version du micro-logiciel", state: "Ni"},
      telemetry: {label: "Télémétrie de développement", state: "Ni"},
    },
    position: 50
  }),
  methods:{
    moveCursor: function () {
      this.position++;
      if(this.position>95){
        this.position = 0;
      }
      setTimeout(() => {
        this.moveCursor()
      }, 10);
    }
  },
  mounted() {
    this.moveCursor() //TODO to remove when statusCommunication implemented

    window.ipcRenderer.receive('statusUpdate', (arg) => {
      //console.log("Receive on front from IPC : ", arg) // DBGONLY
      if(arg.hasOwnProperty('driverConnection')){
        this.status.driverConnection.state = arg.driverConnection;
      }
      if(arg.hasOwnProperty('isMMConnected')){
        this.status.deviceConnection.state = arg.isMMConnected;
      }
    })
  }
}
</script>

<style scoped>
.status-label{
  text-align: left;
  padding-right: 1em;
}
.status-state{
  text-align: left;
}

.module{
  width: 120px;
  text-align: center;
}
.module-bg{
  height: 200px;
  margin: 0 10px;
  width: 5em;
  background-color: lightcoral;
}
.module-disabled{
  background-color: #7a7a7a !important;
}
.module-cursor{
  position: relative;
  height: 10px;
  width: 30px;
  left: 25px;
  background-color: #0D3361;
}
.stateList > *{
  margin: 10px;
}
</style>