::-webkit-scrollbar {
    display: none;
}

#banner{
    background-color: #0D3361;
    display: flex;
    -webkit-app-region: drag
}

#banner > *{
    display: inline-block;

    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
#logo{
    width: 5em;
}
#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}
#grower{
    flex-grow: 5;
}
.tab{
    color: #949494;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto Thin', sans-serif;
    font-style: normal;
    font-weight: 700;
    transition: all .15s linear;
    padding: .2em 2em .5em 2em;
    -webkit-app-region: no-drag;
}
.tab:hover{
    background-color: rgba(0, 0, 0, 0.10);
}
.selected-tab{
    background-color: rgba(0, 0, 0, 0.08);
    color: white;
}

#banner-right{
    display: flex;
    flex-direction: column;
}
#close-space{
    height: 25px;
}
#appclose{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 7px;
    color: white;
    -webkit-app-region: no-drag;
}
#appclose:hover{
    background: #f0f8ff26;
}
#tabs{
    flex-grow: 1;

    display: flex;
    align-items: stretch;
}

.page{
    display: flex; /*in fact set by Js*/
}

.pane {
    display: flex;
    margin: 1em;
    flex-grow: 1;
    align-content: stretch;
    text-align: center;
}