<template>
  <v-app>
    <div id="banner">
      <img src="./assets/logo.svg" alt="logo" id="logo">

      <div id="title">
        <h1>MonoMackie</h1>
        <h2>Gestion sonore bureautique</h2>
      </div>

      <div id="grower">
      </div>

      <div id="banner-right">
        <div id="close-space">
          <button id="appclose" onclick="window.close()">x</button>
        </div>

        <div id="tabs">
          <button id="tab-state" class="tab" v-bind:class="{ 'selected-tab' : selectedTab === 'state'}" @click="selectedTab = 'state'">État</button>
          <button id="tab-overlay" class="tab" v-bind:class="{ 'selected-tab' : selectedTab === 'overlay'}" @click="selectedTab = 'overlay'">Overlay</button>
          <button id="tab-settings" class="tab" v-bind:class="{ 'selected-tab' : selectedTab === 'settings'}" @click="selectedTab = 'settings'">Paramètres</button>
        </div>
      </div>
    </div>

    <State v-if="selectedTab==='state'" class="page"/>
    <Overlay v-else-if="selectedTab==='overlay'" class="page"/>
    <Settings v-else-if="selectedTab==='settings'" class="page"/>

  </v-app>
</template>

<script>
import State from './views/State';
import Overlay from "./views/Overlay";
import Settings from "./views/Settings";

window.ipcRenderer.receive('asynchronous-reply', (arg) => {
  console.log(arg) // prints "pong"
})


export default {
  name: 'App',
  components: {
    State,
    Overlay,
    Settings
  },
  data: () => ({
    selectedTab: 'state'
  }),
};

</script>
